[submodule "printfTester"]
	path = printfTester
	url = https://github.com/Tripouille/printfTester.git
[submodule "_printfTester"]
	path = _printfTester
	url = https://github.com/Tripouille/printfTester.git
